[Unit]
Description=Run Qikiworld backup nightly

[Timer]
OnCalendar=*-*-* 02:30:00
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
